
.facebook-login {
  width: 100%;
  .btn.btn-fb-login {
    background-color: rgb(63, 92, 154);
    color: white;
    border: none;
  }

  .btn.btn-fb-login:hover {
    background: #e74810;
    color: #fee800;
  }
}
