
.form-registretion {
  .button-terms {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding-top: 0px;
    position: relative;
    margin-bottom: 0px;
    margin-left: 0px;
    display: block;
    line-height: 1.3em;
    color: #4fb748;
    text-align: left;
    text-decoration: underline;
    font-size: 14px;
  }

  .button-terms:hover {
    text-decoration: none;
  }

  .checkbox {
    display: flex;

    label:before {
      margin-top: -6px;
    }

    label:after {
      margin-top: -3px;
    }
  }

  .button-terms {
    margin-top: 10px;
  }
}
