.tip-valid {
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  margin-top: 3px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #ff7f83;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  padding: 4px 10px;
  font-size: 16px;
  line-height: 1.3em;
  z-index: 10;
  -webkit-box-shadow: 2px 0 18px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0 18px 0 rgba(0, 0, 0, 0.4);
    &:before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: 100%;
      z-index: 3;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      border: 8px solid transparent;
      border-bottom: 7px solid #ff7f83;
      border-top: none;
      margin-top: -1px;
    }

    &__nowrap {
      white-space: nowrap;
    }
}
