/* @font-face {
  font-family: 'Gotham Pro Regular';
  src: url("../fonts/GothaProReg.eot");
  src: url("../fonts/GothaProReg.woff") format("woff"), url("../fonts/GothaProReg.ttf") format("truetype"), url("../fonts/GothaProReg.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../fonts/GothaProMed.eot");
  src: url("../fonts/GothaProMed.woff") format("woff"), url("../fonts/GothaProMed.ttf") format("truetype"), url("../fonts/GothaProMed.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothaProBol.eot");
  src: url("../fonts/GothaProBol.woff") format("woff"), url("../fonts/GothaProBol.ttf") format("truetype"), url("../fonts/GothaProBol.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Black';
  src: url("../fonts/GothaProBlack.eot");
  src: url("../fonts/GothaProBlack.woff") format("woff"), url("../fonts/GothaProBlack.ttf") format("truetype"), url("../fonts/GothaProBlack.svg") format("svg");
  font-weight: normal;
  font-style: normal; } */

/**/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  border: 0;
  max-width: 100%;
  height: auto; }

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.4s, background 0.4s, border 0.4s;
  -o-transition: color 0.4s, background 0.4s, border 0.4s;
  transition: color 0.4s, background 0.4s, border 0.4s; }

a:hover {
  color: #fff;
  text-decoration: underline; }

a:focus {
  text-decoration: none; }

*:focus, *:active, * {
  outline: none !important; }

*::-moz-selection {
  background: rgba(211, 0, 4, 0.3); }

*::selection {
  background: rgba(211, 0, 4, 0.3); }

body {
  font: 14px "Gotham Pro Medium", sans-serif;
  line-height: 1.5;
  color: #000;
  background: #fee800;
  padding: 0; }

#wrapper {
  overflow: hidden;
  position: relative; }

.container {
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

.text-center {
  text-align: center; }

/**/
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  margin-top: 0px;
  margin-bottom: 0.8em; }

strong {
  font-weight: normal;
  font-family: "Gotham Pro Bold", sans-serif; }

/* table */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0px 0 15px; }

table th {
  padding: 5px 5px;
  text-align: center;
  font-family: "Gotham Pro Bold", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3em; }

table td {
  padding: 0px 5px;
  font-size: 12px;
  line-height: 1.2em;
  color: #4fb748; }

/* @import "header";
@import "first";
@import "second"; */
/* @import "loader";
@import "chat-btn"; */
/* modal */
.modal-open {
  overflow: hidden; }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0; }

.modal-dialog {
  position: relative;
  pointer-events: none;
  max-width: 407px;
  margin: 92px auto 0.5rem; }

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
  margin: 0.5rem auto; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  transform: translate(0, -50px); }

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.modal-backdrop.fade {
  opacity: 0; }

.modal-backdrop.show {
  opacity: 0; }

.modal button.close {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 24px;
  height: 24px;
  margin: 0;
  opacity: 1;
  background: #ff0000 url(../images/close.svg) center center no-repeat;
  background-size: 10px 10px;
  border: none;
  border-radius: 50%;
  z-index: 10;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  .modal button.close:hover {
    opacity: 0.8; }

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 33px;
  outline: 0;
  color: #019c3e;
  font-size: 13px; }
  .modal-content .btn {
    width: 100%; }
  .modal-content h2, .modal-content .h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-family: "Gotham Pro Black", sans-serif;
    margin: 0;
    line-height: 1.3em; }
  .modal-content h3, .modal-content .h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Gotham Pro Black", sans-serif;
    margin: 0 0 3px;
    color: #ff0000;
    line-height: 1.3em; }
  .modal-content h4, .modal-content .h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Gotham Pro Bold", sans-serif;
    margin: 0;
    line-height: 1.3em; }
  .modal-content h5, .modal-content .h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Gotham Pro Black", sans-serif;
    margin: 0;
    line-height: 1.25em;
    color: #4fb748; }
  .modal-content .warning {
    color: #ff0000; }

.modal-head {
  margin-bottom: 12px;
  padding: 17px 10px 0px;
  text-align: center; }
  .modal-head .logo {
    margin-bottom: 10px; }
  .modal-head .logo-mob {
    display: none; }

#registration .modal-head {
  margin-bottom: 19px; }

#finish .modal-head {
  padding-top: 22px; }

.modal-body {
  padding: 0 30px 25px;
  font-family: "Gotham Pro Medium", sans-serif;
  line-height: 1.3em; }
  .modal-body .message {
    text-align: center;
    margin-bottom: 20px; }
  .modal-body .warning {
    color: #ff0000; }

/* forms */
input[type='text'], input[type='tel'], input[type='search'], input[type='email'], input[type='password'], input[type='number'], input[type='date'], textarea, select {
  background: #fff;
  border: none;
  border-bottom: 1px solid #019c3e;
  margin: 0;
  width: 100%;
  height: 34px;
  padding: 0 15px;
  font-family: "Gotham Pro Medium", sans-serif;
  font-size: 13px;
  border-radius: 0;
  display: block;
  color: #a8a8a8;
  text-align: center;
  text-transform: uppercase; }

textarea {
  padding: 10px 25px;
  height: 150px;
  resize: none; }

::-webkit-input-placeholder {
  color: #a8a8a8;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

::-moz-placeholder {
  color: #a8a8a8;
  transition-duration: 0.2s; }

:-moz-placeholder {
  color: #a8a8a8;
  transition-duration: 0.2s; }

:-ms-input-placeholder {
  color: #a8a8a8;
  transition-duration: 0.2s; }

:focus::-webkit-input-placeholder {
  opacity: 0.8; }

:focus::-moz-placeholder {
  opacity: 0.8; }

:focus:-moz-placeholder {
  opacity: 0.8; }

:focus:-ms-input-placeholder {
  opacity: 0.8; }

.form-group {
  margin-bottom: 11px;
  position: relative;
  font-size: 15px; }
  .form-group.radio, .form-group.checkbox {
    padding: 0 30px;
    margin-top: 25px;
    margin-bottom: 13px; }
    .form-group.radio + .form-group.radio, .form-group.checkbox + .form-group.radio, .form-group.radio + .form-group.checkbox, .form-group.checkbox + .form-group.checkbox {
      margin-top: 0; }

/* checkbox/radio */
input[type='checkbox'], input[type='radio'] {
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 0 3px 0 0; }

input[type='checkbox'] + label, input[type='radio'] + label {
  cursor: pointer;
  padding-left: 34px;
  padding-top: 0px;
  position: relative;
  margin-bottom: 0px;
  display: block;
  line-height: 1.3em;
  color: #4fb748;
  font-size: 12px; }
  input[type='checkbox'] + label:before, input[type='radio'] + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -9px;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    border: 2px solid #4fb748;
    border-radius: 4px;
    border-radius: 50%; }
  input[type='checkbox'] + label:after, input[type='radio'] + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    opacity: 0;
    background: #4fb748;
    border-radius: 2px;
    border-radius: 50%; }

input[type='radio'] + label:before {
  border-radius: 50%; }

input[type='radio'] + label:after {
  border-radius: 50%; }

input[type='checkbox']:not(checked), input[type='radio']:not(checked) {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: -1; }

input[type='checkbox']:checked + label:after, input[type='radio']:checked + label:after {
  opacity: 1; }

/* button */
.btn {
  display: inline-block;
  min-width: 308px;
  padding: 0 15px;
  margin: 15px 0 10px;
  color: #fee800;
  background-color: #88bd25;
  border: 1px solid #88bd25;
  font-size: 18px;
  line-height: 66px;
  font-family: "Gotham Pro Bold", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 34px;
  position: relative;
  z-index: 0;
  -webkit-box-shadow: -5px 10px 0 0 rgba(0, 0, 0, 0.14);
  box-shadow: -5px 10px 0 0 rgba(0, 0, 0, 0.14);
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow: hidden;
  vertical-align: middle; }
  .btn:hover {
    border-color: #019c3e;
    background-color: #019c3e;
    text-decoration: none; }
  .btn.btn-style-2 {
    background-color: #fee800;
    border-color: #fee800;
    color: #019c3e; }
    .btn.btn-style-2:hover {
      background: #e74810;
      border-color: #e74810;
      color: #fee800; }
  .btn.btn-icon {
    padding-right: 65px; }
  .btn .icon {
    width: 57px;
    height: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fab237;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 6px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .btn .icon svg {
      fill: #fff;
      fill-rule: evenodd;
      max-width: 29px;
      max-height: 29px; }

.recovery-link {
  text-align: center;
  margin-bottom: 5px;
  font-size: 13px;
  border-bottom: 1px solid #019c3e;
  padding: 21px 15px 8px; }
  .recovery-link button {
    color: #ff0000;
    background-color: rgba(0,0,0,0);
    border: none;
    text-transform: uppercase; }
    .recovery-link button:hover {
      text-decoration: none; }

/* winners */
.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.results {
  padding-top: 15px;
  margin: 0 -30px -25px; }
  .results .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 30px; }
    .results .nav:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 33px;
      background: #e74810;
      z-index: -1; }
    .results .nav a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      z-index: 0;
      width: 50%;
      height: 65px;
      padding: 8px 15px 3px;
      text-align: center;
      font-size: 18px;
      font-family: "Gotham Pro Bold", sans-serif;
      text-transform: uppercase;
      line-height: 1.3em;
      border-radius: 33px 33px;
      background: #fee800;
      color: #019c3e; }
      .results .nav a:first-child:after {
        content: '';
        position: absolute;
        left: 0;
        right: 50%;
        bottom: -30px;
        top: 50%;
        background: #fee800;
        z-index: -1;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s; }
      .results .nav a:last-child:after {
        content: '';
        position: absolute;
        left: 50%;
        right: 0;
        bottom: -30px;
        top: 50%;
        background: #fee800;
        z-index: -1;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s; }
      .results .nav a.active {
        background: #e74810;
        color: #fff; }
        .results .nav a.active:after {
          background: #e74810 !important; }
      .results .nav a img {
        display: block;
        margin: 0; }
      .results .nav a:hover {
        text-decoration: none; }
  .results .tab-content {
    position: relative;
    z-index: 3;
    border: 12px solid #e74810;
    border-radius: 33px;
    padding: 18px 9px;
    background: #fff;
    overflow: hidden;
    margin-top: -30px; }
    .results .tab-content table {
      margin-bottom: 0; }
      .results .tab-content table tr td:first-child {
        min-width: 105px; }

/**/
.scroll-box {
  max-height: 286px;
  overflow: hidden;
  padding: 11px 0 8px; }

.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.mCSB_scrollTools {
  width: 11px; }

.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
  right: 0px;
  margin: 0px 0;
  opacity: 1; }

.mCSB_scrollTools .mCSB_dragger {
  background: #fee800;
  border-radius: 6px; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 11px;
  background: #4fb748;
  border-radius: 6px; }

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
  background: #4fb748;
  border-radius: 6px; }

.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
  background: none !important; }

@media only screen and (max-width: 575px) {
  .modal-dialog {
    max-width: 360px;
    margin: 30px auto 0.5rem; }
  .modal button.close {
    top: 15px;
    right: 15px; }
  .modal-head {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px; }
    .modal-head .logo {
      display: none; }
    .modal-head .logo-mob {
      display: inline-block;
      margin-bottom: 15px; }
    .modal-head h3, .modal-head .h3 {
      font-size: 20px; }
  .modal-body {
    padding: 0 15px 20px; }
  /**/
  .btn {
    min-width: 100%;
    line-height: 50px;
    font-size: 16px;
    -webkit-box-shadow: -3px 6px 0 0 rgba(0, 0, 0, 0.14);
    box-shadow: -3px 6px 0 0 rgba(0, 0, 0, 0.14); }
    .btn .icon {
      width: 40px;
      height: 40px; }
      .btn .icon svg {
        max-width: 20px;
        max-height: 20px; }
  .form-group {
    margin-bottom: 10px; }
    .form-group.radio, .form-group.checkbox {
      padding: 0 0px; }
  .scroll-box {
    max-height: 266px;
    padding: 0; }
  .mCSB_scrollTools {
    opacity: 0; }
  .modal-content h5, .modal-content .h5 {
    font-size: 16px; }
  .results {
    padding-top: 10px;
    margin: 0 -15px -20px; }
    .results .tab-content {
      border-width: 9px; }
  .results .nav a {
    font-size: 16px;
    height: 60px; }
  .results .tab-content table tr td:first-child {
    min-width: 0; } }

/*# sourceMappingURL=style.css.map */
