/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b, strong {
    font-weight: bolder
}

code, kbd, samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button, input, optgroup, select, textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button, input {
    overflow: visible
}

button, select {
    text-transform: none
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox], [type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

.pure-img {
    max-width: 100%;
    height: auto;
    display: block
}

.pure-g {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    -webkit-align-content: flex-start;
    align-content: flex-start
}

@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
    table .pure-g {
        display: block
    }
}

.pure-u-1-24 {
    width: 4.1667%
}

.pure-u-1-12, .pure-u-2-24 {
    width: 8.3333%
}

.pure-u-1-8, .pure-u-3-24 {
    width: 12.5%
}

.pure-u-1-6, .pure-u-4-24 {
    width: 16.6667%
}

.pure-u-1-5 {
    width: 20%
}

.pure-u-5-24 {
    width: 20.8333%
}

.pure-u-1-4, .pure-u-6-24 {
    width: 25%
}

.pure-u-7-24 {
    width: 29.1667%
}

.pure-u-1-3, .pure-u-8-24 {
    width: 33.3333%
}

.pure-u-3-8, .pure-u-9-24 {
    width: 37.5%
}

.pure-u-2-5 {
    width: 40%
}

.pure-u-10-24, .pure-u-5-12 {
    width: 41.6667%
}

.pure-u-11-24 {
    width: 45.8333%
}

.pure-u-1-2, .pure-u-12-24 {
    width: 50%
}

.pure-u-13-24 {
    width: 54.1667%
}

.pure-u-14-24, .pure-u-7-12 {
    width: 58.3333%
}

.pure-u-3-5 {
    width: 60%
}

.pure-u-15-24, .pure-u-5-8 {
    width: 62.5%
}

.pure-u-16-24, .pure-u-2-3 {
    width: 66.6667%
}

.pure-u-17-24 {
    width: 70.8333%
}

.pure-u-18-24, .pure-u-3-4 {
    width: 75%
}

.pure-u-19-24 {
    width: 79.1667%
}

.pure-u-4-5 {
    width: 80%
}

.pure-u-20-24, .pure-u-5-6 {
    width: 83.3333%
}

.pure-u-21-24, .pure-u-7-8 {
    width: 87.5%
}

.pure-u-11-12, .pure-u-22-24 {
    width: 91.6667%
}

.pure-u-23-24 {
    width: 95.8333%
}

.pure-u-1, .pure-u-1-1, .pure-u-24-24, .pure-u-5-5 {
    width: 100%
}

.pure-button {
    display: inline-block;
    zoom: 1;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
    border: none;
    font-family: inherit;
    padding: .5em 1em;
    color: #000;
    background-color: #e6e6e6;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 110%
}

.pure-button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.pure-button-disabled, .pure-button-disabled:active, .pure-button-disabled:focus, .pure-button-disabled:hover, .pure-button[disabled] {
    border: none;
    background-image: none;
    filter: alpha(opacity=40);
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none
}

.pure-button-hidden {
    display: none
}

.pure-form input[type=color], .pure-form input[type=date], .pure-form input[type=datetime-local], .pure-form input[type=datetime], .pure-form input[type=email], .pure-form input[type=month], .pure-form input[type=number], .pure-form input[type=password], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=text], .pure-form input[type=time], .pure-form input[type=url], .pure-form input[type=week], .pure-form select, .pure-form textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    vertical-align: middle;
    box-sizing: border-box
}

.pure-form input:not([type]) {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc
}

.pure-form input[type=color] {
    padding: .2em .5em
}

.pure-form input:not([type]):focus, .pure-form input[type=color]:focus, .pure-form input[type=date]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=email]:focus, .pure-form input[type=month]:focus, .pure-form input[type=number]:focus, .pure-form input[type=password]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=text]:focus, .pure-form input[type=time]:focus, .pure-form input[type=url]:focus, .pure-form input[type=week]:focus, .pure-form select:focus, .pure-form textarea:focus {
    outline: 0;
    border-color: #129fea
}

.pure-form input[type=checkbox]:focus, .pure-form input[type=file]:focus, .pure-form input[type=radio]:focus {
    outline: #129fea auto 1px
}

.pure-form .pure-checkbox, .pure-form .pure-radio {
    margin: .5em 0;
    display: block
}

.pure-form input:not([type])[disabled], .pure-form input[type=color][disabled], .pure-form input[type=date][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=email][disabled], .pure-form input[type=month][disabled], .pure-form input[type=number][disabled], .pure-form input[type=password][disabled], .pure-form input[type=search][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=text][disabled], .pure-form input[type=time][disabled], .pure-form input[type=url][disabled], .pure-form input[type=week][disabled], .pure-form select[disabled], .pure-form textarea[disabled] {
    cursor: not-allowed;
    background-color: #eaeded;
    color: #cad2d3
}

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] {
    background-color: #eee;
    color: #777;
    border-color: #ccc
}

.pure-form input:focus:invalid, .pure-form select:focus:invalid, .pure-form textarea:focus:invalid {
    color: #b94a48;
    border-color: #e9322d
}

.pure-form input[type=checkbox]:focus:invalid:focus, .pure-form input[type=file]:focus:invalid:focus, .pure-form input[type=radio]:focus:invalid:focus {
    outline-color: #e9322d
}

.pure-form select {
    height: 2.25em;
    border: 1px solid #ccc;
    background-color: #fff
}

.pure-form select[multiple] {
    height: auto
}

.pure-form fieldset {
    margin: 0;
    padding: .35em 0 .75em;
    border: 0
}

.pure-form legend {
    display: block;
    width: 100%;
    padding: .3em 0;
    margin-bottom: .3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none
}

.nav li {
    position: relative
}

.nav_horizontal {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.nav_justify {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap
}

.nav_justify li {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.text-left {
    text-align: left
}

.text-right {
    text-align: right
}

.text-center {
    text-align: center
}

.order-1 {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1
}

.order-2 {
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2
}

.order-3 {
    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3
}

.order-4 {
    -webkit-order: 4;
    -ms-flex-order: 4;
    order: 4
}

.hidden {
    display: none
}

.pure-u-static {
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.pure-u-fluid {
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0px;
    flex: 1 1 0
}

.pure-form .pure-input-1 {
    width: 100%
}

.pure-form .pure-input-3-4 {
    width: 75%
}

.pure-form .pure-input-2-3 {
    width: 66%
}

.pure-form .pure-input-1-2 {
    width: 50%
}

.pure-form .pure-input-1-3 {
    width: 33%
}

.pure-form .pure-input-1-4 {
    width: 25%
}

@media screen and (min-width: 568px) {
    .text-left-sm {
        text-align: left
    }

    .text-right-sm {
        text-align: right
    }

    .text-center-sm {
        text-align: center
    }

    .order-sm-1 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .order-sm-2 {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }

    .order-sm-3 {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3
    }

    .order-sm-4 {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4
    }

    .hidden-sm {
        display: none
    }

    .visible-sm {
        display: block
    }

    .visible-inline-sm {
        display: inline
    }

    .visible-flex-sm {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .pure-u-sm-static {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .pure-u-sm-fluid {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
        flex: 1 1 0
    }

    .pure-u-sm-1-24 {
        width: 4.1667%
    }

    .pure-u-sm-1-12, .pure-u-sm-2-24 {
        width: 8.3333%
    }

    .pure-u-sm-1-8, .pure-u-sm-3-24 {
        width: 12.5%
    }

    .pure-u-sm-1-6, .pure-u-sm-4-24 {
        width: 16.6667%
    }

    .pure-u-sm-1-5 {
        width: 20%
    }

    .pure-u-sm-5-24 {
        width: 20.8333%
    }

    .pure-u-sm-1-4, .pure-u-sm-6-24 {
        width: 25%
    }

    .pure-u-sm-7-24 {
        width: 29.1667%
    }

    .pure-u-sm-1-3, .pure-u-sm-8-24 {
        width: 33.3333%
    }

    .pure-u-sm-3-8, .pure-u-sm-9-24 {
        width: 37.5%
    }

    .pure-u-sm-2-5 {
        width: 40%
    }

    .pure-u-sm-10-24, .pure-u-sm-5-12 {
        width: 41.6667%
    }

    .pure-u-sm-11-24 {
        width: 45.8333%
    }

    .pure-u-sm-1-2, .pure-u-sm-12-24 {
        width: 50%
    }

    .pure-u-sm-13-24 {
        width: 54.1667%
    }

    .pure-u-sm-14-24, .pure-u-sm-7-12 {
        width: 58.3333%
    }

    .pure-u-sm-3-5 {
        width: 60%
    }

    .pure-u-sm-15-24, .pure-u-sm-5-8 {
        width: 62.5%
    }

    .pure-u-sm-16-24, .pure-u-sm-2-3 {
        width: 66.6667%
    }

    .pure-u-sm-17-24 {
        width: 70.8333%
    }

    .pure-u-sm-18-24, .pure-u-sm-3-4 {
        width: 75%
    }

    .pure-u-sm-19-24 {
        width: 79.1667%
    }

    .pure-u-sm-4-5 {
        width: 80%
    }

    .pure-u-sm-20-24, .pure-u-sm-5-6 {
        width: 83.3333%
    }

    .pure-u-sm-21-24, .pure-u-sm-7-8 {
        width: 87.5%
    }

    .pure-u-sm-11-12, .pure-u-sm-22-24 {
        width: 91.6667%
    }

    .pure-u-sm-23-24 {
        width: 95.8333%
    }

    .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-24-24, .pure-u-sm-5-5 {
        width: 100%
    }
}

@media screen and (min-width: 768px) {
    .text-left-md {
        text-align: left
    }

    .text-right-md {
        text-align: right
    }

    .text-center-md {
        text-align: center
    }

    .nav_horizontal-md {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .nav_justify-md {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap
    }

    .nav_justify-md li {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto
    }

    .order-md-1 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .order-md-2 {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }

    .order-md-3 {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3
    }

    .order-md-4 {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4
    }

    .hidden-md {
        display: none
    }

    .visible-md {
        display: block
    }

    .visible-inline-md {
        display: inline
    }

    .visible-flex-md {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .pure-u-md-static {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .pure-u-md-fluid {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
        flex: 1 1 0
    }

    .pure-g-md {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-line-pack: start;
        -webkit-align-content: flex-start;
        align-content: flex-start
    }

    .pure-u-md-1-24 {
        width: 4.1667%
    }

    .pure-u-md-1-12, .pure-u-md-2-24 {
        width: 8.3333%
    }

    .pure-u-md-1-8, .pure-u-md-3-24 {
        width: 12.5%
    }

    .pure-u-md-1-6, .pure-u-md-4-24 {
        width: 16.6667%
    }

    .pure-u-md-1-5 {
        width: 20%
    }

    .pure-u-md-5-24 {
        width: 20.8333%
    }

    .pure-u-md-1-4, .pure-u-md-6-24 {
        width: 25%
    }

    .pure-u-md-7-24 {
        width: 29.1667%
    }

    .pure-u-md-1-3, .pure-u-md-8-24 {
        width: 33.3333%
    }

    .pure-u-md-3-8, .pure-u-md-9-24 {
        width: 37.5%
    }

    .pure-u-md-2-5 {
        width: 40%
    }

    .pure-u-md-10-24, .pure-u-md-5-12 {
        width: 41.6667%
    }

    .pure-u-md-11-24 {
        width: 45.8333%
    }

    .pure-u-md-1-2, .pure-u-md-12-24 {
        width: 50%
    }

    .pure-u-md-13-24 {
        width: 54.1667%
    }

    .pure-u-md-14-24, .pure-u-md-7-12 {
        width: 58.3333%
    }

    .pure-u-md-3-5 {
        width: 60%
    }

    .pure-u-md-15-24, .pure-u-md-5-8 {
        width: 62.5%
    }

    .pure-u-md-16-24, .pure-u-md-2-3 {
        width: 66.6667%
    }

    .pure-u-md-17-24 {
        width: 70.8333%
    }

    .pure-u-md-18-24, .pure-u-md-3-4 {
        width: 75%
    }

    .pure-u-md-19-24 {
        width: 79.1667%
    }

    .pure-u-md-4-5 {
        width: 80%
    }

    .pure-u-md-20-24, .pure-u-md-5-6 {
        width: 83.3333%
    }

    .pure-u-md-21-24, .pure-u-md-7-8 {
        width: 87.5%
    }

    .pure-u-md-11-12, .pure-u-md-22-24 {
        width: 91.6667%
    }

    .pure-u-md-23-24 {
        width: 95.8333%
    }

    .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-24-24, .pure-u-md-5-5 {
        width: 100%
    }
}

@media screen and (min-width: 1024px) {
    .text-left-lg {
        text-align: left
    }

    .text-right-lg {
        text-align: right
    }

    .text-center-lg {
        text-align: center
    }

    .order-lg-1 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .order-lg-2 {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }

    .order-lg-3 {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3
    }

    .order-lg-4 {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4
    }

    .hidden-lg {
        display: none
    }

    .visible-lg {
        display: block
    }

    .visible-inline-lg {
        display: inline
    }

    .visible-flex-lg {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .pure-u-lg-static {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .pure-u-lg-fluid {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
        flex: 1 1 0
    }

    .pure-g-lg {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-line-pack: start;
        -webkit-align-content: flex-start;
        align-content: flex-start
    }

    .pure-u-lg-1-24 {
        width: 4.1667%
    }

    .pure-u-lg-1-12, .pure-u-lg-2-24 {
        width: 8.3333%
    }

    .pure-u-lg-1-8, .pure-u-lg-3-24 {
        width: 12.5%
    }

    .pure-u-lg-1-6, .pure-u-lg-4-24 {
        width: 16.6667%
    }

    .pure-u-lg-1-5 {
        width: 20%
    }

    .pure-u-lg-5-24 {
        width: 20.8333%
    }

    .pure-u-lg-1-4, .pure-u-lg-6-24 {
        width: 25%
    }

    .pure-u-lg-7-24 {
        width: 29.1667%
    }

    .pure-u-lg-1-3, .pure-u-lg-8-24 {
        width: 33.3333%
    }

    .pure-u-lg-3-8, .pure-u-lg-9-24 {
        width: 37.5%
    }

    .pure-u-lg-2-5 {
        width: 40%
    }

    .pure-u-lg-10-24, .pure-u-lg-5-12 {
        width: 41.6667%
    }

    .pure-u-lg-11-24 {
        width: 45.8333%
    }

    .pure-u-lg-1-2, .pure-u-lg-12-24 {
        width: 50%
    }

    .pure-u-lg-13-24 {
        width: 54.1667%
    }

    .pure-u-lg-14-24, .pure-u-lg-7-12 {
        width: 58.3333%
    }

    .pure-u-lg-3-5 {
        width: 60%
    }

    .pure-u-lg-15-24, .pure-u-lg-5-8 {
        width: 62.5%
    }

    .pure-u-lg-16-24, .pure-u-lg-2-3 {
        width: 66.6667%
    }

    .pure-u-lg-17-24 {
        width: 70.8333%
    }

    .pure-u-lg-18-24, .pure-u-lg-3-4 {
        width: 75%
    }

    .pure-u-lg-19-24 {
        width: 79.1667%
    }

    .pure-u-lg-4-5 {
        width: 80%
    }

    .pure-u-lg-20-24, .pure-u-lg-5-6 {
        width: 83.3333%
    }

    .pure-u-lg-21-24, .pure-u-lg-7-8 {
        width: 87.5%
    }

    .pure-u-lg-11-12, .pure-u-lg-22-24 {
        width: 91.6667%
    }

    .pure-u-lg-23-24 {
        width: 95.8333%
    }

    .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-24-24, .pure-u-lg-5-5 {
        width: 100%
    }
}

@media screen and (min-width: 1280px) {
    .text-left-xl {
        text-align: left
    }

    .text-right-xl {
        text-align: right
    }

    .text-center-xl {
        text-align: center
    }

    .order-xl-1 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .order-xl-2 {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }

    .order-xl-3 {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3
    }

    .order-xl-4 {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4
    }

    .hidden-xl {
        display: none
    }

    .visible-xl {
        display: block
    }

    .visible-inline-xl {
        display: inline
    }

    .visible-flex-xl {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .pure-u-xl-static {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .pure-u-xl-fluid {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
        flex: 1 1 0
    }

    .pure-g-xl {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-line-pack: start;
        -webkit-align-content: flex-start;
        align-content: flex-start
    }

    .pure-u-xl-1-24 {
        width: 4.1667%
    }

    .pure-u-xl-1-12, .pure-u-xl-2-24 {
        width: 8.3333%
    }

    .pure-u-xl-1-8, .pure-u-xl-3-24 {
        width: 12.5%
    }

    .pure-u-xl-1-6, .pure-u-xl-4-24 {
        width: 16.6667%
    }

    .pure-u-xl-1-5 {
        width: 20%
    }

    .pure-u-xl-5-24 {
        width: 20.8333%
    }

    .pure-u-xl-1-4, .pure-u-xl-6-24 {
        width: 25%
    }

    .pure-u-xl-7-24 {
        width: 29.1667%
    }

    .pure-u-xl-1-3, .pure-u-xl-8-24 {
        width: 33.3333%
    }

    .pure-u-xl-3-8, .pure-u-xl-9-24 {
        width: 37.5%
    }

    .pure-u-xl-2-5 {
        width: 40%
    }

    .pure-u-xl-10-24, .pure-u-xl-5-12 {
        width: 41.6667%
    }

    .pure-u-xl-11-24 {
        width: 45.8333%
    }

    .pure-u-xl-1-2, .pure-u-xl-12-24 {
        width: 50%
    }

    .pure-u-xl-13-24 {
        width: 54.1667%
    }

    .pure-u-xl-14-24, .pure-u-xl-7-12 {
        width: 58.3333%
    }

    .pure-u-xl-3-5 {
        width: 60%
    }

    .pure-u-xl-15-24, .pure-u-xl-5-8 {
        width: 62.5%
    }

    .pure-u-xl-16-24, .pure-u-xl-2-3 {
        width: 66.6667%
    }

    .pure-u-xl-17-24 {
        width: 70.8333%
    }

    .pure-u-xl-18-24, .pure-u-xl-3-4 {
        width: 75%
    }

    .pure-u-xl-19-24 {
        width: 79.1667%
    }

    .pure-u-xl-4-5 {
        width: 80%
    }

    .pure-u-xl-20-24, .pure-u-xl-5-6 {
        width: 83.3333%
    }

    .pure-u-xl-21-24, .pure-u-xl-7-8 {
        width: 87.5%
    }

    .pure-u-xl-11-12, .pure-u-xl-22-24 {
        width: 91.6667%
    }

    .pure-u-xl-23-24 {
        width: 95.8333%
    }

    .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-24-24, .pure-u-xl-5-5 {
        width: 100%
    }
}

@media screen and (min-width: 1400px) {
    .text-left-xxl {
        text-align: left
    }

    .text-right-xxl {
        text-align: right
    }

    .text-center-xxl {
        text-align: center
    }

    .order-xxl-1 {
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .order-xxl-2 {
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2
    }

    .order-xxl-3 {
        -webkit-order: 3;
        -ms-flex-order: 3;
        order: 3
    }

    .order-xxl-4 {
        -webkit-order: 4;
        -ms-flex-order: 4;
        order: 4
    }

    .hidden-xxl {
        display: none
    }

    .visible-xxl {
        display: block
    }

    .visible-inline-xxl {
        display: inline
    }

    .visible-flex-xxl {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .pure-u-xxl-static {
        -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
        flex: 0 0 auto
    }

    .pure-u-xxl-fluid {
        -webkit-flex: 1 1 0;
        -ms-flex: 1 1 0px;
        flex: 1 1 0
    }

    .pure-g-xxl {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-line-pack: start;
        -webkit-align-content: flex-start;
        align-content: flex-start
    }

    .pure-u-xxl-1-24 {
        width: 4.1667%
    }

    .pure-u-xxl-1-12, .pure-u-xxl-2-24 {
        width: 8.3333%
    }

    .pure-u-xxl-1-8, .pure-u-xxl-3-24 {
        width: 12.5%
    }

    .pure-u-xxl-1-6, .pure-u-xxl-4-24 {
        width: 16.6667%
    }

    .pure-u-xxl-1-5 {
        width: 20%
    }

    .pure-u-xxl-5-24 {
        width: 20.8333%
    }

    .pure-u-xxl-1-4, .pure-u-xxl-6-24 {
        width: 25%
    }

    .pure-u-xxl-7-24 {
        width: 29.1667%
    }

    .pure-u-xxl-1-3, .pure-u-xxl-8-24 {
        width: 33.3333%
    }

    .pure-u-xxl-3-8, .pure-u-xxl-9-24 {
        width: 37.5%
    }

    .pure-u-xxl-2-5 {
        width: 40%
    }

    .pure-u-xxl-10-24, .pure-u-xxl-5-12 {
        width: 41.6667%
    }

    .pure-u-xxl-11-24 {
        width: 45.8333%
    }

    .pure-u-xxl-1-2, .pure-u-xxl-12-24 {
        width: 50%
    }

    .pure-u-xxl-13-24 {
        width: 54.1667%
    }

    .pure-u-xxl-14-24, .pure-u-xxl-7-12 {
        width: 58.3333%
    }

    .pure-u-xxl-3-5 {
        width: 60%
    }

    .pure-u-xxl-15-24, .pure-u-xxl-5-8 {
        width: 62.5%
    }

    .pure-u-xxl-16-24, .pure-u-xxl-2-3 {
        width: 66.6667%
    }

    .pure-u-xxl-17-24 {
        width: 70.8333%
    }

    .pure-u-xxl-18-24, .pure-u-xxl-3-4 {
        width: 75%
    }

    .pure-u-xxl-19-24 {
        width: 79.1667%
    }

    .pure-u-xxl-4-5 {
        width: 80%
    }

    .pure-u-xxl-20-24, .pure-u-xxl-5-6 {
        width: 83.3333%
    }

    .pure-u-xxl-21-24, .pure-u-xxl-7-8 {
        width: 87.5%
    }

    .pure-u-xxl-11-12, .pure-u-xxl-22-24 {
        width: 91.6667%
    }

    .pure-u-xxl-23-24 {
        width: 95.8333%
    }

    .pure-u-xxl-1, .pure-u-xxl-1-1, .pure-u-xxl-24-24, .pure-u-xxl-5-5 {
        width: 100%
    }
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamProBlack.eot);
    src: url(../fonts/GothamProBlack.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProBlack.woff) format("woff"), url(../../theme/ekran3/fonts/GothamProBlack.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: GothamPro;
    src: url(../fonts/GothamProBold.eot);
    src: url(../fonts/GothamProBold.eot?#iefix) format("embedded-opentype"), url(../fonts/GothamProBold.woff) format("woff"), url(../../theme/ekran3/fonts/GothamProBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700
}

h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 120%;
    margin: 0 0 .5em 0
}

h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: 120%;
    margin: .5em 0
}

h2 {
    font-size: 1.75em;
    font-weight: 700;
    line-height: 120%;
    margin: .5em 0
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 120%;
    margin: .6em 0
}

h4 {
    font-size: 1.25em;
    font-weight: 700;
    line-height: 120%;
    margin: .8em 0
}

h5 {
    font-size: 1.1em;
    font-weight: 700;
    line-height: 120%;
    margin: 1em 0
}

h6 {
    font-size: 1em;
    font-weight: 700;
    line-height: 120%;
    margin: 1em 0
}

body, html {
    height: 100%
}

body {
    font-family: Arial, Tahoma, sans-serif;
    background: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
    min-width: 320px
}

p {
    margin: 1em 0
}

ol, ul {
    margin: 1em 0
}

.site-holder {
    overflow: hidden
}

.wrap {
    max-width: 1410px;
    margin: 0 auto;
    padding: 0 15px
}

.dropdown__content {
    display: none
}

.dropdown.opened > .dropdown__content {
    display: block
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

.menu {
    position: absolute;
    display: none;
    z-index: 100;
    min-width: 100vw;
    font-family: GothamPro;
    font-weight: 700;
    min-height: 100vh
}

.menu.opened {
    display: block
}

.menu__toggler {
    position: fixed;
    top: 25px;
    left: 35px;
    z-index: 150;
    cursor: pointer;
    font-family: GothamPro;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #ed1d24
}

.menu__toggler > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.menu__toggler > div img:last-child {
    display: none
}

.menu__toggler.opened > div img:first-child {
    display: none
}

.menu__toggler.opened > div img:last-child {
    display: block
}

.menu__overlay {
    width: 100%;
    position: fixed;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    overflow-x: hidden;
    height: 100%;
    background-color: #fff;
    opacity: .9
}

.menu__content {
    padding-left: 40px;
    width: 100%
}

.menu__content ul {
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
    width: inherit;
    font-size: 27px;
    text-transform: uppercase
}

.menu__content li {
    width: inherit
}

.menu__content li a, .menu__content li button {
    text-decoration: none;
    display: block !important;
    border: 0;
    background: transparent;
    text-align: left;
    text-transform: uppercase;
    width: 120%;
    padding: 10px 0 10px 40px;
    margin-left: -40px;
    color: #019c3e;
    cursor: pointer;
    transition: all .3s
}

.menu__content li button.hidden {
  display: none !important;
}

.menu__content li a img, .menu__content li button img {
    margin-right: 25px
}

.menu__content li a img:last-child, .menu__content li button img:last-child {
    display: none
}

.menu__content li a.active, .menu__content li a:active, .menu__content li a:focus, .menu__content li a:hover, .menu__content li button.active, .menu__content li button:active, .menu__content li button:focus, .menu__content li button:hover {
    background: #fee800;
    color: #ed1d24;
    outline: 0
}

.menu__content li a.active img:first-child, .menu__content li a:active img:first-child, .menu__content li a:focus img:first-child, .menu__content li a:hover img:first-child, .menu__content li button.active img:first-child, .menu__content li button:active img:first-child, .menu__content li button:focus img:first-child, .menu__content li button:hover img:first-child {
    display: none
}

.menu__content li a.active img:last-child, .menu__content li a:active img:last-child, .menu__content li a:focus img:last-child, .menu__content li a:hover img:last-child, .menu__content li button.active img:last-child, .menu__content li button:active img:last-child, .menu__content li button:focus img:last-child, .menu__content li button:hover img:last-child {
    display: inline
}

.menu__content li + li {
    margin-top: 10px
}

.meet {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    padding-bottom: 60px;
    box-sizing: border-box;
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center
}

.meet__holder{
    height: 100%;
    display: flex;
    width: 100%;
    margin-top: -60px;
    justify-content: center;
    align-items: center;
}

.meet__holder .pure-g{
    width: 100%;
}

.meet__title {
    max-width: 1021px;
    margin: 0 auto;
    padding-top: 20px
}

.meet__title img {
    width: 100%;
    display: none
}

.meet__title img:first-child {
    display: block
}

.m-h {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -10px;
    /*padding-top: 50px;*/
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.m-h__img-holder {
    max-width: 490px
}

.m-h__img-holder img {
    width: 100%
}

.m-h__img-holder img.sm {
    display: none
}

.m-h__img-holder img.active {
    display: none
}

.m-h__text-holder {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 120px;
    margin-right: -50px
}

.m-h__text-holder .m-h__img-holder {
    min-height: 112px;
    margin-bottom: 45px
}

.m-h__text {
    color: #fff;
    font-family: GothamPro;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 65px;
}

.m-h__counter {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: GothamPro;
    font-weight: 900;
    text-transform: uppercase
}

.m-h__counter p {
    color: #ffe800;
    font-family: GothamPro;
    font-size: 23px;
    font-weight: 700;
    margin-bottom: 25px;
    margin-top: 0
}

.m-h__counter p:last-child {
    font-size: 16px;
    margin-bottom: 0
}

.m-h__counter div {
    font-size: 30px;
    margin-bottom: 25px
}

.m-h__counter div > span {
    background: #fff;
    color: #004300;
    box-shadow: inset -2px 40px 8px -15px rgba(0, 0, 0, .3);
    padding: 10px 9px;
    border-radius: 8px
}

.m-h__counter_red div > span {
    color: #630000
}

.m-h__btn {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -60px;
    position: relative;
    z-index: 20;
}

.m-h__btn > div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.m-h__btn a, .m-h__btn button {
    background: #fff;
    text-transform: uppercase;
    color: #009c3e;
    font-family: GothamPro;
    font-size: 27px;
    cursor: pointer;
    text-decoration: none;
    white-space: nowrap;
    font-weight: 700;
    padding: 30px 25px 30px 45px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-bottom: 25px;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    box-shadow: -20px 25px 6px -8px rgba(0, 0, 0, .38)
}

.m-h__btn button.vote {
  background-color: rgba(0,0,0,0);
  border: none;
  box-shadow: none;
  padding: 0;
  color: white;
  font-size: 22px;
}

.m-h__btn a img, .m-h__btn button img {
    margin-left: 20px
}

.m-h__btn div {
    color: #fff;
    font-family: GothamPro;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase
}

.m-h__btn_red {
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 18px;
    margin-left: 100px
}

.m-h__btn_red a, .m-h__btn_red button {
    color: #e64911
}

.m-h_right .m-h__text-holder {
    padding-top: 75px;
    margin: 0;
}







@media all and (min-width: 768px) {
    .menu__toggler {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column
    }

    .menu__content {
        width: auto
    }

    .menu__content ul {
        font-size: 21px
    }

    .menu__content li button {
        padding-left: 110px;
        padding-top: 15px;
        padding-bottom: 15px;
        background: transparent;
        padding-right: 50px;
        border-radius: 0 25px 25px 0
    }
}

@media all and (max-width: 1755px) {
    .meet{
        background-position: center 0;
        /*margin-top: -30px;*/
        min-height: calc(var(--vh, 1vh) * 100);
    }

    .meet__holder .pure-g{
        margin-top: 75px;
    }

    .meet__title {
        max-width: 640px;
        padding-top: 10px;
    }

    .m-h {
        position: relative;
        padding-top: 15px;
    }

    .m-h_right {
        /*padding-top: 35px;*/
        padding-top: 0;
        margin-top: -25px;
    }

    .m-h_right .m-h__counter {
        left: 34px;
        right: auto;
        /*position: static;*/
        bottom: -6px;
        /*margin-top: 15px;*/
    }

    .m-h_right .m-h__text-holder{
        margin-top: 20px;
    }


    .m-h__text-holder .m-h__img-holder {
        margin-bottom: 20px;
        min-height: auto;
        margin-top: 70px;
        height: auto;
    }

    .m-h__text{
        font-size: 20px;
    }

    .m-h__text-holder .m-h__img-holder img{
        max-width: 180px !important;

    }

    .m-h__text-holder{
        margin-left: 55px;
        margin-top: -50px;
    }

    .m-h__text {
        margin-bottom: 10px;
    }

    .m-h_right .m-h__text-holder{
        padding-top: 0;
    }

    .m-h__counter {
        bottom: 49px;
        right: -22px;
        width: 300px
    }

    .m-h__counter p {
        margin-bottom: 10px;
        font-size: 18px;
    }
    .m-h__counter p:last-child {
        font-size: 14px;
    }

    .m-h__counter > div {
        font-size: 18px;
        margin-bottom: 15px;
    }

    .m-h__img-holder img {
        max-height: 383px;
        max-width: 300px
    }

    .m-h_right .m-h__img-holder img{
        max-width: 330px;
    }

    .m-h__img-holder{
        height: 331px;
    }

    .m-h__btn {
        /*margin-top: 55px*/
        margin-top: -30px;
    }

    .m-h__btn a, .m-h__btn button {
        font-size: 20px;
        padding: 15px 10px 15px 30px;
        margin-bottom: 10px;
    }

    .m-h__btn button.vote{
        font-size: 16px;
    }

    .m-h__btn_red {
        margin-top: 0;
        margin-left: 80px;
    }

    .m-h__text-holder{
        justify-content: flex-start;
    }

    .m-h_right .m-h__text-holder .m-h__img-holder {
        margin-top: 61px;
        margin-bottom: 25px;
    }

}

@media all and (max-width: 1330px) {
    .meet{
        /*margin-top: 0;*/
        background-position: center;
    }
}

@media all and (max-width: 1180px) {


    .m-h_right .m-h__counter {
        margin-top: -10px;
    }

    .m-h__text{
        display: none;
    }

    .m-h__text-holder .m-h__img-holder {
        display: none;
    }

}

@media all and (max-width: 1024px) {
    .menu__toggler {
        left: auto;
        right: 20px
    }

    .meet__holder{
        position: relative;
        min-height: 100%;
        margin-top: 50px;
    }

    .meet {
        background-repeat: no-repeat !important;
        background-size: cover !important;
        padding-bottom: 20px;
        min-height: calc(var(--vh, 1vh) * 100);
        margin-top: 0;
        display: flex;
        flex-direction: column;
    }

    .meet.green {
        background: url(../images/green-bg-min.png);
        -webkit-animation: fadeIn 2s;
        animation: fadeIn 2s
    }

    .meet.red {
        background: url(../images/red-bg-min.png);
        -webkit-animation: fadeIn 2s;
        animation: fadeIn 2s
    }

    .meet .pure-g {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
    }

    .meet__title {
        max-width: 457px;
        padding-top: 40px;
        margin-bottom: 20px;
    }

    .meet__title img {
        display: block
    }

    .meet__title img:first-child {
        display: none
    }

    .m-h__holder {
        display: none;
        -webkit-animation: fadeOut 1s;
        animation: fadeOut 1s
    }

    .m-h__holder.active {
        display: block;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
    }

    .m-h_right .m-h__counter_red {
        right: -20px;
        left: auto;
        margin-top: 100px;
    }

    .m-h__img-holder.active img {
        display: none !important
    }

    .m-h__img-holder.active .active {
        display: block !important
    }

    .m-h__img-holder img {
        max-width: 370px;
        max-height: 497px;
        display: none
    }

    .m-h__img-holder img.sm {
        display: block
    }

    .m-h__counter {
        position: static;
        margin-bottom: 20px;
        margin-top: 100px;
    }

    .m-h{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
    }

    .m-h__text-holder{
        margin: 0;
        margin-bottom: 10px;
    }

    .m-h_right .m-h__text-holder{
        order: 1;
        padding-top: 0;
    }
    .m-h_right .m-h__img-holder{
        order: 0;
    }

    .m-h__btn{
        margin: 0 !important;
        margin-left: auto;
        margin-right: auto;
        /*position: absolute;*/
        position: static;
        /*right: 40px;*/
        right: auto;
        left: auto;
    }

    .m-h__btn_red {
        /*margin-top: 100px;*/
        /*margin-left: 50px;*/
        margin-top: 0;
    }

    .modal-body .message{
        font-size: 22px ;
        line-height: 1;
    }

    .modal button.close{
        width: 35px ;
        height: 35px ;
    }

    .modal-body .btn, button{
        font-size: 20px ;
    }

    .modal-body input{
        font-size: 20px ;
    }

    .modal-body .message .warning{
        margin-right: 5px;
    }


    .modal-dialog {
        max-width: 530px ;
    }

    .modal-content .h5{
        font-size: 22px ;
    }

    .modal-content .h3{
        font-size: 32px ;
    }

    .tab2-txt-content{
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
    }

    .official-rules{
        font-size: 20px ;
        line-height: 1 ;
    }

    .modal-body .message{
        font-size: 22px !important;
        line-height: 1;
    }

    .modal button.close{
        width: 35px !important;
        height: 35px !important;
    }

    .modal-body .btn, button{
        font-size: 20px !important;
    }

    .modal-body input{
        font-size: 20px !important;
    }

    .modal-body .message .warning{
        margin-right: 5px;
    }


    .modal-dialog {
        max-width: 530px !important;
    }

    .modal-content .h5{
        font-size: 22px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }

    .modal-content .h3{
        font-size: 32px !important;
    }

    .tab2-txt-content{
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        text-transform: uppercase;
    }

    .official-rules{
        font-size: 20px !important;
        line-height: 1 !important;
    }

}
