@font-face {
  font-family: 'Gotham Pro Regular';
  src: url("../fonts/GothaProReg.eot");
  src: url("../fonts/GothaProReg.woff") format("woff"), url("../fonts/GothaProReg.ttf") format("truetype"), url("../fonts/GothaProReg.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url("../fonts/GothaProMed.eot");
  src: url("../fonts/GothaProMed.woff") format("woff"), url("../fonts/GothaProMed.ttf") format("truetype"), url("../fonts/GothaProMed.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Bold';
  src: url("../fonts/GothaProBol.eot");
  src: url("../fonts/GothaProBol.woff") format("woff"), url("../fonts/GothaProBol.ttf") format("truetype"), url("../fonts/GothaProBol.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Gotham Pro Black';
  src: url("../fonts/GothaProBlack.eot");
  src: url("../fonts/GothaProBlack.woff") format("woff"), url("../fonts/GothaProBlack.ttf") format("truetype"), url("../fonts/GothaProBlack.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/**/
* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

img {
  border: 0;
  max-width: 100%;
  height: auto; }

a {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.4s, background 0.4s, border 0.4s;
  -o-transition: color 0.4s, background 0.4s, border 0.4s;
  transition: color 0.4s, background 0.4s, border 0.4s; }

a:hover {
  color: #fff;
  text-decoration: underline; }

a:focus {
  text-decoration: none; }

*:focus, *:active, * {
  outline: none !important; }

*::-moz-selection {
  background: rgba(211, 0, 4, 0.3); }

*::selection {
  background: rgba(211, 0, 4, 0.3); }

body {
  font: 14px "Gotham Pro Medium", sans-serif;
  line-height: 1.5;
  color: #000;
  background: #fee800;
  padding: 0; }

#wrapper {
  overflow: hidden;
  position: relative; }

.container {
  max-width: 1560px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

.text-center {
  text-align: center; }

/**/
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
  margin-top: 0px;
  margin-bottom: 0.8em; }

strong {
  font-weight: normal;
  font-family: "Gotham Pro Bold", sans-serif; }

/* table */
table {
  border-collapse: collapse;
  width: 100%;
  margin: 0px 0 15px; }

table th {
  padding: 5px 5px;
  text-align: center;
  font-family: "Gotham Pro Bold", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.3em; }

table td {
  padding: 0px 5px;
  font-size: 12px;
  line-height: 1.2em;
  color: #4fb748; }

/* HEADER */
.header {
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  width: 112px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  padding: 30px 0 0;
  text-align: center; }

/* NAV */
.nav-trigger {
  position: relative;
  width: 46px;
  height: 50px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
  margin: 0;
  display: inline-block;
  font-family: "Gotham Pro Black", sans-serif;
  color: #e51e0b;
  font-size: 14px;
  text-transform: uppercase;
  overflow: hidden;
  padding-top: 37px;
  line-height: 1em;
  text-align: center; }
  .nav-trigger span {
    width: 46px;
    height: 6px;
    border-radius: 3px;
    background: #e51e0b;
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s; }
  .nav-trigger span:nth-child(2) {
    top: 12px; }
  .nav-trigger span:nth-child(3) {
    top: 24px; }

/* modal */
.modal-open {
  overflow: hidden; }
  .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0; }

.modal-dialog {
  position: relative;
  pointer-events: none;
  max-width: 407px;
  margin: 92px auto 0.5rem; }

.modal-dialog-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
  margin: 0.5rem auto; }

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  -ms-transform: translate(0, -50px);
  transform: translate(0, -50px); }

.modal.show .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }

.modal-backdrop.fade {
  opacity: 0; }

.modal-backdrop.show {
  opacity: 0; }

.modal button.close {
  position: absolute;
  top: 21px;
  right: 21px;
  width: 24px;
  height: 24px;
  margin: 0;
  opacity: 1;
  background: #ff0000 url(../images/close.svg) center center no-repeat;
  background-size: 10px 10px;
  border: none;
  border-radius: 50%;
  z-index: 10;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s; }
  .modal button.close:hover {
    opacity: 0.8; }

.modal-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 33px;
  outline: 0;
  color: #019c3e;
  font-size: 13px; }
  .modal-content .btn {
    width: 100%; }
  .modal-content h2, .modal-content .h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    font-family: "Gotham Pro Black", sans-serif;
    margin: 0;
    line-height: 1.3em; }
  .modal-content h3, .modal-content .h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Gotham Pro Black", sans-serif;
    margin: 0 0 3px;
    color: #ff0000;
    line-height: 1.3em; }
  .modal-content h4, .modal-content .h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-family: "Gotham Pro Bold", sans-serif;
    margin: 0;
    line-height: 1.3em; }
  .modal-content h5, .modal-content .h5 {
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    font-family: "Gotham Pro Black", sans-serif;
    margin: 0;
    line-height: 1.25em;
    color: #4fb748; }
  .modal-content .warning {
    color: #ff0000; }

.modal-head {
  margin-bottom: 12px;
  padding: 17px 10px 0px;
  text-align: center; }
  .modal-head .logo {
    margin-bottom: 10px; }
  .modal-head .logo-mob {
    display: none; }

#registration .modal-head {
  margin-bottom: 19px; }

#finish .modal-head {
  padding-top: 22px; }

.modal-body {
  padding: 0 30px 25px;
  font-family: "Gotham Pro Medium", sans-serif;
  line-height: 1.3em; }
  .modal-body .message {
    text-align: center;
    margin-bottom: 20px; }
  .modal-body .warning {
    color: #ff0000; }

/* forms */
input[type='text'], input[type='tel'], input[type='search'], input[type='email'], input[type='password'], input[type='number'], input[type='date'], textarea, select {
  background: #fff;
  border: none;
  border-bottom: 1px solid #019c3e;
  margin: 0;
  width: 100%;
  height: 34px;
  padding: 0 15px;
  font-family: "Gotham Pro Medium", sans-serif;
  font-size: 13px;
  border-radius: 0;
  display: block;
  color: #a8a8a8;
  text-align: center;
  text-transform: uppercase; }

textarea {
  padding: 10px 25px;
  height: 150px;
  resize: none; }

::-webkit-input-placeholder {
  color: #a8a8a8;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s; }

::-moz-placeholder {
  color: #a8a8a8;
  transition-duration: 0.2s; }

:-moz-placeholder {
  color: #a8a8a8;
  transition-duration: 0.2s; }

:-ms-input-placeholder {
  color: #a8a8a8;
  transition-duration: 0.2s; }

:focus::-webkit-input-placeholder {
  opacity: 0.8; }

:focus::-moz-placeholder {
  opacity: 0.8; }

:focus:-moz-placeholder {
  opacity: 0.8; }

:focus:-ms-input-placeholder {
  opacity: 0.8; }

.form-group {
  margin-bottom: 11px;
  position: relative;
  font-size: 15px; }
  .form-group.radio, .form-group.checkbox {
    padding: 0 30px;
    margin-top: 25px;
    margin-bottom: 13px; }
    .form-group.radio + .form-group.radio, .form-group.checkbox + .form-group.radio, .form-group.radio + .form-group.checkbox, .form-group.checkbox + .form-group.checkbox {
      margin-top: 0; }

/* checkbox/radio */
input[type='checkbox'], input[type='radio'] {
  vertical-align: top;
  width: 20px;
  height: 20px;
  margin: 0 3px 0 0; }

input[type='checkbox'] + label, input[type='radio'] + label {
  cursor: pointer;
  padding-left: 34px;
  padding-top: 0px;
  position: relative;
  margin-bottom: 0px;
  display: block;
  line-height: 1.3em;
  color: #4fb748;
  font-size: 12px; }
  input[type='checkbox'] + label:before, input[type='radio'] + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 50%;
    margin-top: -9px;
    width: 18px;
    height: 18px;
    border: 2px solid #4fb748;
    border-radius: 4px;
    border-radius: 50%; }
  input[type='checkbox'] + label:after, input[type='radio'] + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 50%;
    margin-top: -6px;
    width: 12px;
    height: 12px;
    opacity: 0;
    background: #4fb748;
    border-radius: 2px;
    border-radius: 50%; }

input[type='radio'] + label:before {
  border-radius: 50%; }

input[type='radio'] + label:after {
  border-radius: 50%; }

input[type='checkbox']:not(checked), input[type='radio']:not(checked) {
  position: absolute;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: -1; }

input[type='checkbox']:checked + label:after, input[type='radio']:checked + label:after {
  opacity: 1; }

/* button */
.btn {
  display: inline-block;
  min-width: 308px;
  padding: 0 15px;
  margin: 15px 0 10px;
  color: #fee800;
  background-color: #88bd25;
  border: 1px solid #88bd25;
  font-size: 18px;
  line-height: 66px;
  font-family: "Gotham Pro Bold", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  border-radius: 34px;
  position: relative;
  z-index: 0;
  -webkit-box-shadow: -5px 10px 0 0 rgba(0, 0, 0, 0.14);
  box-shadow: -5px 10px 0 0 rgba(0, 0, 0, 0.14);
  -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
  overflow: hidden;
  vertical-align: middle; }
  .btn:hover {
    border-color: #019c3e;
    background-color: #019c3e;
    text-decoration: none; }
  .btn.btn-style-2 {
    background-color: #fee800;
    border-color: #fee800;
    color: #019c3e; }
    .btn.btn-style-2:hover {
      background: #e74810;
      border-color: #e74810;
      color: #fee800; }
  .btn.btn-icon {
    padding-right: 65px; }
  .btn .icon {
    width: 57px;
    height: 57px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #fab237;
    border-radius: 50%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    right: 6px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
    .btn .icon svg {
      fill: #fff;
      fill-rule: evenodd;
      max-width: 29px;
      max-height: 29px; }

.recovery-link {
  text-align: center;
  margin-bottom: 5px;
  font-size: 13px;
  border-bottom: 1px solid #019c3e;
  padding: 21px 15px 8px; }
  .recovery-link button {
    background-color: rgba(0,0,0,0);
    border: none;
    color: #ff0000;
    text-transform: uppercase; }
    .recovery-link button:hover {
      text-decoration: none; }

/* winners */
.tab-content > .tab-pane {
  display: none; }

.tab-content > .active {
  display: block; }

.results {
  padding-top: 15px;
  margin: 0 -30px -25px; }
  .results .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-bottom: 30px; }
    .results .nav:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 33px;
      background: #e74810;
      z-index: -1; }
    .results .nav a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      z-index: 0;
      width: 50%;
      height: 65px;
      padding: 8px 15px 3px;
      text-align: center;
      font-size: 18px;
      font-family: "Gotham Pro Bold", sans-serif;
      text-transform: uppercase;
      line-height: 1.3em;
      border-radius: 33px 33px;
      background: #fee800;
      color: #019c3e; }
      .results .nav a:first-child:after {
        content: '';
        position: absolute;
        left: 0;
        right: 50%;
        bottom: -30px;
        top: 50%;
        background: #fee800;
        z-index: -1;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s; }
      .results .nav a:last-child:after {
        content: '';
        position: absolute;
        left: 50%;
        right: 0;
        bottom: -30px;
        top: 50%;
        background: #fee800;
        z-index: -1;
        -webkit-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        transition-duration: 0.4s; }
      .results .nav a.active {
        background: #e74810;
        color: #fff; }
        .results .nav a.active:after {
          background: #e74810 !important; }
      .results .nav a img {
        display: block;
        margin: 0; }
      .results .nav a:hover {
        text-decoration: none; }
  .results .tab-content {
    position: relative;
    z-index: 3;
    border: 12px solid #e74810;
    border-radius: 33px;
    padding: 18px 9px;
    background: #fff;
    overflow: hidden;
    margin-top: -30px; }
    .results .tab-content table {
      margin-bottom: 0; }
      .results .tab-content table tr td:first-child {
        min-width: 105px; }

/**/
.scroll-box {
  max-height: 286px;
  overflow: hidden;
  padding: 11px 0 8px; }

.mCSB_inside > .mCSB_container {
  margin-right: 0; }

.mCSB_scrollTools {
  width: 11px; }

.mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical {
  right: 0px;
  margin: 0px 0;
  opacity: 1; }

.mCSB_scrollTools .mCSB_dragger {
  background: #fee800;
  border-radius: 6px; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 11px;
  background: #4fb748;
  border-radius: 6px; }

.mCSB_outside + .mCS-minimal.mCSB_scrollTools_vertical, .mCSB_outside + .mCS-minimal-dark.mCSB_scrollTools_vertical {
  background: #4fb748;
  border-radius: 6px; }

.mCS-minimal.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-minimal.mCSB_scrollTools .mCSB_draggerRail, .mCS-minimal-dark.mCSB_scrollTools .mCSB_draggerRail {
  background: none !important; }

@media only screen and (max-width: 575px) {
  .modal-dialog {
    max-width: 360px;
    margin: 30px auto 0.5rem; }
  .modal button.close {
    top: 15px;
    right: 15px; }
  .modal-head {
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px; }
    .modal-head .logo {
      display: none; }
    .modal-head .logo-mob {
      display: inline-block;
      margin-bottom: 15px; }
    .modal-head h3, .modal-head .h3 {
      font-size: 20px; }
  .modal-body {
    padding: 0 15px 20px; }
  /**/
  .btn {
    min-width: 100%;
    line-height: 50px;
    font-size: 16px;
    -webkit-box-shadow: -3px 6px 0 0 rgba(0, 0, 0, 0.14);
    box-shadow: -3px 6px 0 0 rgba(0, 0, 0, 0.14); }
    .btn .icon {
      width: 40px;
      height: 40px; }
      .btn .icon svg {
        max-width: 20px;
        max-height: 20px; }
  .form-group {
    margin-bottom: 10px; }
    .form-group.radio, .form-group.checkbox {
      padding: 0 0px; }
  .scroll-box {
    max-height: 266px;
    padding: 0; }
  .mCSB_scrollTools {
    opacity: 0; }
  .modal-content h5, .modal-content .h5 {
    font-size: 16px; }
  .results {
    padding-top: 10px;
    margin: 0 -15px -20px; }
    .results .tab-content {
      border-width: 9px; }
  .results .nav a {
    font-size: 16px;
    height: 60px; }
  .results .tab-content table tr td:first-child {
    min-width: 0; } }

/* @import "loader";
@import "chat-btn"; */
/* first-screen */
.first-screen {
  background: url(../images/bg-first.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden; }

/* logo */
.logo-wrap {
  position: relative;
  z-index: 20;
  margin: 66px auto 0;
  max-width: 825px; }
  .logo-wrap .rotate-all {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  .logo-wrap .rotate-box {
    -webkit-animation-name: logoRotate;
    animation-name: logoRotate;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 8s;
    animation-duration: 8s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% 0;
    -ms-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
    position: relative;
    width: 825px;
    height: 169px; }
  .logo-wrap .logo-box {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

    .logo-wrap .logo-box.logo-back {
      -webkit-transform: rotateY(0deg) rotateX(90deg) translateZ(60px);
      transform: rotateY(0deg) rotateX(90deg) translateZ(60px);

      -webkit-animation-name: opacitySecond;
      animation-name: opacitySecond;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 8s;
      animation-duration: 8s;
    }
/*       .logo-wrap .logo-box.logo-back img{
  max-width: 600px; } */

    .logo-wrap .logo-box.logo-front {
      -webkit-transform: translateZ(60px);
      transform: translateZ(60px);

      -webkit-animation-name: opacityFirst;
      animation-name: opacityFirst;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 8s;
      animation-duration: 8s;
    }
    
    .logo-wrap .logo-box.logo-third {
      -webkit-transform: rotateY(0deg) rotateX(180deg) translateZ(60px);
      transform: rotateY(0deg) rotateX(180deg) translateZ(60px);
      
      -webkit-animation-name: opacityThird;
      animation-name: opacityThird;
      -webkit-animation-timing-function: ease-in-out;
      animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 8s;
      animation-duration: 8s;

    }

.logo-wrap-mobile {
  display: none; }

@-webkit-keyframes logoRotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }

  31% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }
  35% {
    -webkit-transform: rotateX(-90deg) rotateY(5deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(5deg) rotateZ(0deg); }

  64% {
    -webkit-transform: rotateX(-90deg) rotateY(5deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(5deg) rotateZ(0deg); }
  68% {
    -webkit-transform: rotateX(-180deg) rotateY(5deg) rotateZ(5deg);
    transform: rotateX(-180deg) rotateY(5deg) rotateZ(5deg); }

  96% {
    -webkit-transform: rotateX(-180deg) rotateY(5deg) rotateZ(5deg); 
    transform: rotateX(-180deg) rotateY(5deg) rotateZ(5deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }
}
@keyframes logoRotate {
  0% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }

  31% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }
  35% {
    -webkit-transform: rotateX(-90deg) rotateY(5deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(5deg) rotateZ(0deg); }

  64% {
    -webkit-transform: rotateX(-90deg) rotateY(5deg) rotateZ(0deg);
    transform: rotateX(-90deg) rotateY(5deg) rotateZ(0deg); }
  68% {
    -webkit-transform: rotateX(-180deg) rotateY(5deg) rotateZ(5deg);
    transform: rotateX(-180deg) rotateY(5deg) rotateZ(5deg); }

  96% {
    -webkit-transform: rotateX(-180deg) rotateY(5deg) rotateZ(5deg); 
    transform: rotateX(-180deg) rotateY(5deg) rotateZ(5deg); }
  100% {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-5deg); }
}
@keyframes opacityFirst {
  0% { opacity: 1; }
  31% { opacity: 1; }
  35% { opacity: 0; }
  64%{ opacity: 0; }
  68%{ opacity: 0; }
  96%{ opacity: 0; }
  100%{ opacity: 1; }
}
@keyframes opacitySecond {
  0% { opacity: 0; }
  31% { opacity: 0; }
  35% { opacity: 1; }
  64%{ opacity: 1; }
  68%{ opacity: 0; }
  96%{ opacity: 0; }
  100%{ opacity: 0; }
}
@keyframes opacityThird {
  0% { opacity: 0; }
  31% { opacity: 0; }
  35% { opacity: 0; }
  64%{ opacity: 0; }
  68%{ opacity: 1; }
  96%{ opacity: 1; }
  100%{ opacity: 0; }
}

/*packs*/
.packs {
  position: absolute;
  bottom: 142px;
  left: 0;
  right: 0;
  z-index: 15; }
  .packs .btn-vote {
    background: #fff;
    border: none;
    display: inline-block;
    width: 100%;
    padding: 0 15px;
    margin: 0px 0 28px;
    color: #009c3e;
    font-size: 28px;
    line-height: 80px;
    font-family: "Gotham Pro Bold", sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    z-index: 0;
    -webkit-box-shadow: -10px 20px 0 0 rgba(0, 0, 0, 0.14);
    box-shadow: -10px 20px 0 0 rgba(0, 0, 0, 0.14);
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    vertical-align: middle; }
  .packs .share {
    background-color: rgba(0,0,0,0);
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 19px;
    font-family: "Gotham Pro Bold", sans-serif;
    text-decoration: none; }
  .packs .pack {
    width: 435px;
    text-align: center; }
    .packs .pack .pack-img {
      display: inline-block; }
      .packs .pack .pack-img img {
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both; }
  .packs .pack-l {
    position: absolute;
    left: 30px;
    bottom: 0; }
    .packs .pack-l .pack-img {
      max-width: 360px;
      margin-bottom: -25px; }
  .packs .pack-r {
    position: absolute;
    right: 30px;
    bottom: 0; }
    .packs .pack-r .pack-img {
      max-width: 326px;
      margin-bottom: -47px; }
    .packs .pack-r .btn-vote {
      color: #e64911; }

.parallax-layer {
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

@-webkit-keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

@keyframes bounce {
  from,
  20%,
  53%,
  80%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  40%,
  43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0); }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0); }
  90% {
    -webkit-transform: translate3d(0, -4px, 0);
    transform: translate3d(0, -4px, 0); } }

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce; }

/* stars */
.stars-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 10;
  text-align: center; }

.stars {
  position: relative;
  display: inline-block;
  padding-bottom: 108px;
  max-width: 641px;
  margin-left: 20px; }
  .stars .image {
    display: inline-block;
    margin-bottom: -200px;
    position: relative;
    z-index: 1; }
  .stars .stars-inside {
    position: relative; }
  .stars path {
    fill: #fff;
    fill-rule: evenodd; }
  .stars .sign-l {
    position: absolute;
    bottom: 29px;
    left: 0;
    margin-left: -81px;
    z-index: 3;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
    .stars .sign-l svg {
      width: 149px;
      height: 41px; }
  .stars .sign-r {
    position: absolute;
    bottom: 29px;
    right: 0;
    margin-right: -23px;
    z-index: 3;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
    .stars .sign-r svg {
      width: 102px;
      height: 37px; }

/* next-block */
.next-block {
  position: absolute;
  left: 50%;
  bottom: 14px;
  z-index: 5;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  display: block;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0px; }
  .next-block img {
    margin: 0 8px;
    width: 25px; }
  .next-block:hover {
    text-decoration: none;
    color: #000; }

/* stages */
.stages-box {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 100%;
  padding: 20px 0;
  background: #fee800; }

.stages-box .slide-gadget,
.stages-box .slide-share,
.stages-box .slide-month {
  cursor: pointer;
}

.stages-wrap {
  margin-left: -50px;
  margin-right: -50px; }

.stages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .stages .slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .stages .stage {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0px 50px;
    position: relative;
    font-size: 16px;
    line-height: 1.3em;
    color: #b1181e;
    font-family: "Gotham Pro Bold", sans-serif; }
    .stages .stage:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
      width: 41px;
      height: 27px;
      margin-top: -13px;
      background: url(../images/arrow.svg) center center no-repeat;
      background-size: contain; }
    .stages .stage .image {
      margin-right: 18px; }
      .stages .stage .image img {
        margin: 0;
        display: block;
        height: 60px;
        width: auto; }
    .stages .stage p {
      margin: 0; }
      .stages .stage p span {
        font-size: 24px;
        line-height: 1em;
        font-family: 'Helvetica Bold', sans-serif;
        font-weight: bold;
        word-spacing: -3px; }
    .stages .stage .sep {
      color: #fff;
      padding: 0 30px;
      font-size: 24px;
      text-transform: uppercase; }
  .stages .stage-w:last-child .stage:after {
    display: none; }

  .stages .not-arr .stage{
    padding-right: 0;
  }
  .stages .not-arr+.stage-w .stage{
    padding-left: 0;
  }
  .stages .not-arr .stage:after{
    display: none;
  }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .logo-wrap .rotate-box {
    -webkit-animation-name: none;
    animation-name: none; }
  .stages .stage .image {
    width: 60px; }
    .stages .stage .image img {
      height: auto; } }

/* responsive */
@media (max-width: 1023px), (max-height: 700px) {
  .section {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    overflow: hidden; } }

@media (max-height: 656px) {
  .section {
    min-height: 625px; } }

@media (max-width: 1560px), (max-height: 880px) {
  .logo-wrap {
    margin: 30px auto 0;
    max-width: 700px; }
    .logo-wrap .rotate-box {
      width: 700px; }
  .packs {
    bottom: 142px; }
    .packs .btn-vote {
      font-size: 24px;
      line-height: 70px;
      border-radius: 35px;
      -webkit-box-shadow: -7px 15px 0 0 rgba(0, 0, 0, 0.14);
      box-shadow: -7px 15px 0 0 rgba(0, 0, 0, 0.14); }
    .packs .share {
      font-size: 18px; }
    .packs .pack {
      width: 390px; }
    .packs .pack-l .pack-img {
      max-width: 340px; }
    .packs .pack-r .pack-img {
      max-width: 306px; }
  .stars {
    max-width: 560px; }
    .stars .sign-l {
      bottom: 20px;
      margin-left: -110px; }
    .stars .sign-r {
      bottom: 10px;
      margin-right: -45px; } }

@media (min-height: 1023px) {
  .logo-wrap {
    margin: 100px auto 0; } }

@media (max-width: 1560px) {
  .container {
    max-width: 1400px; }
  .stages .stage {
    font-size: 14px; }
    .stages .stage .image {
      margin-right: 10px; }
      .stages .stage .image img {
        height: 50px; }
    .stages .stage p span {
      font-size: 22px; }
    .stages .stage .sep {
      padding: 0 20px;
      font-size: 22px; }
  /*packs*/
  .packs .btn-vote {
    font-size: 22px;
    line-height: 70px;
    border-radius: 35px; }
  .packs .pack {
    width: 350px; }
  .packs .pack-l {
    left: 10px; }
    .packs .pack-l .pack-img {
      max-width: 312px; }
  .packs .pack-r {
    right: 10px; }
    .packs .pack-r .pack-img {
      max-width: 283px; } }

/**/
@media (max-width: 1385px) {
  .stars {
    padding-bottom: 100px; }
  .packs {
    bottom: 165px; }
  .next-block {
    bottom: 0; } }

@media (max-width: 1385px), (max-height: 767px) {
  .container {
    max-width: 1175px; }
  .stages .stage {
    font-size: 12px; }
    .stages .stage .image {
      margin-right: 10px; }
      .stages .stage .image img {
        height: 43px; }
    .stages .stage p span {
      font-size: 18px; }
    .stages .stage .sep {
      padding: 0 15px;
      font-size: 20px; }
  .next-block img {
    width: 18px; } }

@media (max-height: 767px) {
  .logo-wrap {
    margin: 20px auto 0;
    max-width: 580px; }
/*     .logo-wrap .logo-box.logo-back img{
  max-width: 460px;
} */
    .logo-wrap .rotate-box {
      width: 580px;
      height: 160px; }
  .stars {
    max-width: 450px;
    padding-bottom: 74px; }
    .stars .image {
      margin-bottom: -144px; }
    .stars .sign-l {
      bottom: 20px;
      margin-left: -80px; }
      .stars .sign-l svg {
        width: 110px; }
    .stars .sign-r {
      bottom: 10px;
      margin-right: -25px; }
      .stars .sign-r svg {
        width: 72px; }
  .stages-box {
    padding: 13px 0; }
  /*packs*/
  .packs {
    bottom: 135px; }
  .next-block {
    bottom: 10px; } }

/**/
@media (min-width: 1150px) and (max-height: 767px) {
  .packs {
    bottom: 96px; } }

@media (max-width: 1220px), (max-height: 767px) {
  .packs .btn-vote {
    margin: 0px 0 15px;
    font-size: 19px;
    line-height: 56px;
    border-radius: 28px;
    -webkit-box-shadow: -7px 13px 0 0 rgba(0, 0, 0, 0.14);
    box-shadow: -7px 13px 0 0 rgba(0, 0, 0, 0.14); }
  .packs .share {
    font-size: 13px; }
  .packs .pack {
    width: 305px; }
  .packs .pack-l {
    left: 10px; }
    .packs .pack-l .pack-img {
      max-width: 252px;
      margin-bottom: -25px; }
  .packs .pack-r {
    right: 10px; }
    .packs .pack-r .pack-img {
      max-width: 223px;
      margin-bottom: -47px; } }

@media (max-width: 1220px) {
  .stars {
    width: 560px; }
  .stages-wrap {
    margin: 0; }
    .stages-wrap .stage {
      padding: 0 100px 0 0; }
      .stages-wrap .stage:after {
        right: 50px; } }

/**/
@media (max-width: 991px) {
  .packs {
    bottom: 105px; }
    .packs .pack {
      width: 260px; }
    .packs .pack-l .pack-img {
      max-width: 232px;
      margin-bottom: -35px; }
    .packs .pack-r .pack-img {
      max-width: 203px;
      margin-bottom: -47px; }
  .logo-wrap {
    margin: 20px auto 0;
    max-width: 600px; }
/*     .logo-wrap .logo-box.logo-back img{
  max-width: 400px;
} */
    .logo-wrap .rotate-box {
      width: 600px; }
  /* stars */
  .stars {
    margin-left: 45px; }
    .stars .image {
      margin-bottom: -150px; }
    .stars path {
      fill: #323232; }
    .stars .stars-inside {
      position: absolute;
      left: 0;
      right: 0;
      top: 0; }
    .stars .sign-l {
      bottom: auto;
      top: 95px;
      margin-left: -77px;
      -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
      transform: rotate(-25deg); }
      .stars .sign-l svg {
        width: 163px;
        height: 46px; }
    .stars .sign-r {
      bottom: auto;
      top: 66px;
      margin-right: -2px;
      -webkit-transform: rotate(-12deg);
      -ms-transform: rotate(-12deg);
      transform: rotate(-12deg); }
      .stars .sign-r svg {
        width: 113px;
        height: 41px; }
  .next-block {
    display: none; } }

@media (max-width: 991px) and (max-height: 767px) and (min-width: 768px) {
  .packs {
    bottom: 90px; }
  .stars .sign-l {
    top: 49px;
    margin-left: -40px; }
    .stars .sign-l svg {
      width: 110px; }
  .stars .sign-r {
    top: 10px;
    margin-right: 58px; }
    .stars .sign-r svg {
      width: 72px; } }

/* mob */
@media (max-width: 767px) {
  .parallax-layer {
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important; }
  .header {
    left: auto;
    right: 0;
    width: 102px;
    padding: 22px 0 0; }
  /* NAV */
  .nav-trigger {
    width: 53px;
    height: 56px;
    font-size: 16px;
    padding-top: 37px;
    line-height: 1em; }
    .nav-trigger span {
      width: 53px;
      height: 6px; }
    .nav-trigger span:nth-child(2) {
      top: 14px; }
    .nav-trigger span:nth-child(3) {
      top: 28px; }
  /**/
  .first-screen {
    min-height: 0;
    background: none; }
  .first-screen-top {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    min-height: 1136px; }
  .stages-box {
    position: relative; }
  .logo-wrap {
    display: none; }
  .logo-wrap-mobile {
    padding: 36px 10px 0;
    display: block;
    text-align: center; }
    .logo-wrap-mobile .logo-box {
      max-width: 470px;
      display: inline-block;
      margin-right: 36px;
      position: relative; }
      .logo-wrap-mobile .logo-box .logo-1 {
        -webkit-animation-name: fade1;
        animation-name: fade1;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 10s;
        animation-duration: 10s; }
      .logo-wrap-mobile .logo-box .logo-2 {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        -webkit-animation-name: fade2;
        animation-name: fade2;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-duration: 10s;
        animation-duration: 10s; }
    .logo-wrap-mobile .title {
      color: #e51e0b;
      font-size: 24px;
      font-family: "Gotham Pro Black", sans-serif;
      line-height: 1.3em; }
  /**/
  .stars-wrap:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 15;
    background: url(../images/bg-first-m.png) center bottom no-repeat; }
  .stars {
    width: 516px;
    max-width: none;
    padding: 0; }
    .stars .image {
      margin-bottom: 200px; }
    .stars .sign-l {
      top: 85px;
      margin-left: -85px; }
    .stars .sign-r {
      top: 57px;
      margin-right: -15px; }
  .packs {
    bottom: 0; }
    .packs .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    .packs .pack {
      width: 283px;
      position: relative;
      left: auto;
      bottom: auto;
      margin-bottom: 25px; }
    .packs .pack-l {
      margin-left: 20px; }
      .packs .pack-l .pack-img {
        max-width: 283px;
        margin-bottom: -20px; }
    .packs .pack-r {
      margin-bottom: 42px; }
      .packs .pack-r .pack-img {
        max-width: 262px;
        margin-bottom: -40px; }
    .packs .btn-vote {
      line-height: 1.2em;
      padding: 17px 40px;
      font-size: 31px;
      border-radius: 60px;
      max-width: 270px;
      -webkit-box-shadow: -12px 22px 0 0 rgba(0, 0, 0, 0.14);
      box-shadow: -12px 22px 0 0 rgba(0, 0, 0, 0.14);
      margin-bottom: 26px; }
    .packs .share {
      font-size: 22px; }
  /**/
  .stages-box {
    padding: 25px 0; }
  .stages .stage-w {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .stages .stage {
    font-size: 19px;
    padding-right: 50px; }
    .stages .stage:after {
      right: 0; }
    .stages .stage .image {
      margin-right: 25px; }
      .stages .stage .image img {
        height: 90px; }
    .stages .stage p span {
      font-size: 22px; }
    .stages .stage .sep {
      padding: 0 20px;
      font-size: 22px; }
      .stages .stage .sep + .image {
        margin-left: 15px; } }

@-webkit-keyframes fade1 {
  from, to {
    opacity: 1; }
  45% {
    opacity: 1; }
  50% {
    opacity: 0; }
  95% {
    opacity: 0; } }

@keyframes fade1 {
  from, to {
    opacity: 1; }
  45% {
    opacity: 1; }
  50% {
    opacity: 0; }
  95% {
    opacity: 0; } }

@-webkit-keyframes fade2 {
  from, to {
    opacity: 0; }
  45% {
    opacity: 0; }
  50% {
    opacity: 1; }
  95% {
    opacity: 1; } }

@keyframes fade2 {
  from, to {
    opacity: 0; }
  45% {
    opacity: 0; }
  50% {
    opacity: 1; }
  95% {
    opacity: 1; } }

@media (max-width: 639px) {
  .header {
    width: 60px;
    padding: 12px 0 0; }
  /* NAV */
  .nav-trigger {
    width: 28px;
    height: 29px;
    font-size: 9px;
    padding-top: 19px;
    line-height: 1em; }
    .nav-trigger span {
      width: 28px;
      height: 3px; }
    .nav-trigger span:nth-child(2) {
      top: 7px; }
    .nav-trigger span:nth-child(3) {
      top: 14px; }
  .first-screen-top {
    min-height: 557px; }
  .logo-wrap-mobile {
    padding: 18px 10px 0; }
    .logo-wrap-mobile .logo-box {
      max-width: 235px;
      margin-right: 36px; }
    .logo-wrap-mobile .title {
      font-size: 12px; }
  /**/
  .stars-wrap:after {
    background-size: contain; }
  .stars {
    width: 284px; }
    .stars .image {
      margin-bottom: 127px; }
    .stars .sign-l {
      top: 36px;
      margin-left: -37px; }
      .stars .sign-l svg {
        width: 80px; }
    .stars .sign-r {
      top: 28px;
      margin-right: 0px; }
      .stars .sign-r svg {
        width: 56px; }
  .packs {
    bottom: 0; }
    .packs .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; }
    .packs .pack {
      width: 143px;
      position: relative;
      left: auto;
      right: auto;
      bottom: auto;
      margin-bottom: 10px; }
    .packs .pack-l {
      margin-left: 20px; }
      .packs .pack-l .pack-img {
        max-width: 143px;
        margin-bottom: -15px; }
    .packs .pack-r {
      margin-bottom: 20px; }
      .packs .pack-r .pack-img {
        max-width: 133px;
        margin-bottom: -25px; }
    .packs .btn-vote {
      padding: 8px 15px;
      font-size: 16px;
      max-width: 136px;
      -webkit-box-shadow: -6px 11px 0 0 rgba(0, 0, 0, 0.14);
      box-shadow: -6px 11px 0 0 rgba(0, 0, 0, 0.14);
      margin-bottom: 13px; }
    .packs .share {
      font-size: 11px;
      display: inline-block; }
  /**/
  .stages-box {
    padding: 12px 0; }
  .stages .stage {
    font-size: 12px;
    padding-right: 40px; }
    .stages .stage:after {
      right: 0; }
    .stages .stage .image {
      margin-right: 15px; }
      .stages .stage .image img {
        height: 60px; }
    .stages .stage p span {
      font-size: 20px; } }

@media (max-width: 639px) and (max-height: 625px) {
  .stars .image {
    margin-bottom: 58px; } }

@media (max-width: 639px) and (min-width: 460px) and (max-height: 625px) {
  .stars-wrap:after {
    bottom: -40px; } }

@media (max-width: 420px) {
  .packs .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .packs .pack-l {
    margin-left: 0; }
  .stages .stage {
    font-size: 10px;
    padding-right: 30px; }
    .stages .stage:after {
      width: 25px; }
    .stages .stage .image {
      margin-right: 8px; }
      .stages .stage .image img {
        height: 45px; }
    .stages .stage p span {
      font-size: 15px; } }

@media (max-width: 359px) {
  .stars {
    margin-left: 32px; } }

/* second-screen */
.second-screen {
  background: url(../images/bg-second.jpg) center center no-repeat;
  background-size: cover;
  position: relative; }
  .second-screen .container {
    max-width: 1450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-height: 100%; }
    .second-screen .container > div {
      width: 100%; }

.second-screen-head {
  padding: 37px 0 0 0; }
  .second-screen-head .title-wrap {
    max-width: 1220px;
    margin: 0 auto -30px; }

.second-screen-body h3, .second-screen-body .h3 {
  margin-bottom: 25px;
  color: #009c3e;
  font-size: 35px;
  font-family: "Gotham Pro Bold", sans-serif;
  text-align: center; }

.second-screen-body .gadget {
  opacity: 0;
  transition: opacity .3s;
  transition-delay: 0s;
}

.second-screen-body .gadget.active {
  opacity: 1;
  transition-delay: .9s;
}

.prizes-carousel {
  margin-bottom: 40px;
  padding: 0 50px; }
  .prizes-carousel .item-wrap {
    padding: 50px 22px; }
  .prizes-carousel .item {
    text-align: center;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .prizes-carousel .item .image {
      margin-bottom: 0px;
      text-align: center; }
      .prizes-carousel .item .image img {
        display: inline-block; }
    .prizes-carousel .item .title {
      margin-bottom: 0;
      font-size: 24px;
      font-family: "Gotham Pro Bold", sans-serif;
      color: #e64911; }
  .prizes-carousel .slick-center .item {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
    .prizes-carousel .slick-center .item .image {
      margin-bottom: 10px; }
    .prizes-carousel .slick-center .item .title {
      color: #009c3e;
      margin: 0; }
  .prizes-carousel .slick-arrow {
    width: 61px;
    height: 48px;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    z-index: 10;
    border: none;
    background-color: transparent;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: -1000px; }
    .prizes-carousel .slick-arrow.slick-prev {
      left: -10px;
      background-image: url(../images/prev.png); }
    .prizes-carousel .slick-arrow.slick-next {
      right: -10px;
      background-image: url(../images/next.png);
      background-position: right center; }
    .prizes-carousel .slick-arrow.slick-disabled {
      display: none !important; }

.second-screen-footer {
  max-width: 1325px;
  color: #646464;
  font-size: 9px;
  text-align: center;
  font-family: "Gotham Pro Regular", sans-serif;
  padding: 12px 0;
  line-height: 1.2em; }
  .second-screen-footer p {
    margin: 0; }

  .win-table td{
    text-align: center;
  }

@media (max-height: 880px) {
  .second-screen-head .title-wrap img {
    max-width: 500px; }
  .prizes-carousel .item .image img {
    max-height: 300px; } }

@media (max-height: 805px) {
  .second-screen-head .title-wrap img {
    max-width: 450px; }
  .prizes-carousel .item .image img {
    max-height: 250px; }
  .second-screen-body h3, .second-screen-body .h3 {
    margin-bottom: 5px; }
  .prizes-carousel {
    margin-bottom: 20px; } }
@media (max-height: 700px) {
  .second-screen-head{
    padding-top: 20px;
  }
  .prizes-carousel{
    margin-bottom: 0;
  }
}
@media (max-height: 656px) {
  .prizes-carousel .item .image img {
    max-height: 228px; }
  .prizes-carousel .item-wrap {
      padding: 25px 22px;
  }
}

@media (max-width: 1400px) {
  .second-screen-head .title-wrap img {
    margin-left: 15%; } }

@media (max-width: 1024px) {
  .second-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .second-screen .container {
      width: 100%; }
  .second-screen-head {
    padding: 30px 0 0; }
    .second-screen-head .title-wrap {
      margin: 0; } }

@media (max-width: 991px) {
  .prizes-carousel .item .title {
    font-size: 18px; } }

@media (max-width: 767px) {
  .second-screen {
    background-image: url(../images/bg-second-m.png);
    background-position: bottom center; }
  .second-screen-head {
    margin-bottom: 30px; }
  .prizes-carousel {
    margin-bottom: 10px; }
  .second-screen-head .title-wrap {
    text-align: center;
    padding-right: 55px; }
  .second-screen-head .title-wrap img {
    max-width: 100%;
    width: 490px;
    margin: 0; }
  .prizes-carousel .item .title {
    font-size: 25px; }
  .prizes-carousel .slick-arrow {
    width: 31px;
    background-size: auto; } }

@media (max-width: 639px) {
  .second-screen {
    min-height: 557px; }
  .second-screen-body h3, .second-screen-body .h3 {
    margin-bottom: 20px; }
  .prizes-carousel .slick-center .item {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
  .prizes-carousel .item {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
    .prizes-carousel .item .image {
      margin-bottom: 10px; }
  .prizes-carousel .item-wrap {
    padding: 0px 22px; }
  .prizes-carousel .item .title {
    font-size: 29px; } }

@media (max-width: 420px) {
  .second-screen-head {
    margin-bottom: 20px; }
  .second-screen-body h3, .second-screen-body .h3 {
    font-size: 18px; }
  .prizes-carousel .item .title {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
