
.results {
  .body {
    height: 275px;
  }
}

.results .tab-content {
  border-color: white;
}

.results td.right {
  text-align: right;
}

@media (max-width: 767px) {
  .results {
    .body {
      height: 266px;
    }
  }
}
